model/
xjh.py
tree.py
tryfaiss.py
test.out
merge.out
merge.txt
stanford-parser-python-r22186/
vectors/
spanbert/
genia/
dataset/
model_ext/
__pycache__/
model_new/
casie/
CASIE-master/
stanford-parser-full-2020-11-17/
code.zip
dataset.zip
Readme.md